.App{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.sideapart{
  display: inline-flex;
  flex:1;
  flex-direction: row;
}

.sidebar-container {
  display: block;
}

@media (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
  }
}
